[server]
listen = ":8080"

[video]
type = "webcam"

[video.gopro]
res = "720"
fov = 0
bitrate = 3000

[video.webcam]
path = "/dev/video0"
size = "1280x720"
fps = 15
format = "mjpeg"
audio = "hw:MS2109"

[audio]
codec = "aac"
rate = 44100

[stream]
endpoint = "srt://10.0.0.3:49992?mode=caller"
bitrate = "2M"

[obs]
address = "ws://10.0.0.3:4455"
password = ""
